{% extends 'base.html.twig' %}

{% block title %}Votre Profil!
{% endblock %}

{% block body %}
	<div class="container glass-effect" style="overflow-y: scroll; max-height: 800px;">
		<div class="row justify-content-center">
			<div class="col-md-6">
				<h1 class="mb-4">Votre Profil</h1>
				<h2 class="mb-3">Vos Informations</h2>
				<div class="card card-glass-effect">
					<div class="card-body ">
						<h5 class="card-title">Nom d'utilisateur:</h5>
						<p class="card-text">{{ app.user.firstName }}</p>
					</div>
				</div>
				<div class="card mt-3 card-glass-effect">
					<div class="card-body">
						<h5 class="card-title">Email:</h5>
						<p class="card-text">{{ app.user.email }}</p>
					</div>
				</div>
				<div class="card mt-3 card-glass-effect">
					<div class="card-body">
						<h5 class="card-title">Tel:</h5>
						<p class="card-text">{{ app.user.phone }}</p>
					</div>
				</div>

				<h2 class="mb-3">Configurez votre Vehicule</h2>
				{{ form_start(carForm) }}
				<div class="mb-3">
					{{ form_label(carForm.brand, 'Marque') }}
					{{ form_widget(carForm.brand, {'attr': {'class': 'form-control'}}) }}
				</div>
				<div class="mb-3">
					{{ form_label(carForm.model, 'Model') }}
					{{ form_widget(carForm.model, {'attr': {'class': 'form-control'}}) }}
				</div>
				<div class="mb-3">
					{{ form_label(carForm.seats, 'Places') }}
					{{ form_widget(carForm.seats, {'attr': {'class': 'form-control'}}) }}
				</div>
				<button type="submit" class="btn btn-success">Enregistrer votre Vehicule</button>
				{{ form_end(carForm) }}
				<h2>Vos consignes a bord</h2>
				{{ form_start(ruleForm) }}
				<div class="mb-3">
					{{ form_label(ruleForm.name, 'Nom') }}
					{{ form_widget(ruleForm.name, { 'attr': {'class': 'form-control'} }) }}
				</div>
				<div class="mb-3">
					{{ form_label(ruleForm.description, 'Description') }}
					{{ form_widget(ruleForm.description, { 'attr': {'class': 'form-control'} }) }}
				</div>
				<button type="submit" class="btn btn-success">Enregistrer vos Consignes</button>
				{{ form_end(ruleForm) }}
			</div>
		</div>
	</div>
{% endblock %}
