{% extends 'base.html.twig' %}

{% block pageTitle %}{% endblock %}

{% block body %}
    <div class="container">
        <div class="row justify-content-center">
            {% for ride in rides %}
                <div class="col-md-4 mt-4">
                    <div class="card card-glass-effect">
                        <div class="card-body">
                            <h5 class="card-title"><i class="fas fa-map-marker-alt"></i> Depart: {{ ride.depart }}</h5>
                            <p class="card-text"><i class="fas fa-map-marker-alt"></i> Destination: {{ ride.destination }}</p>
                            <p class="card-text"><i class="fas fa-chair"></i> Places Dispo: {{ ride.seats }}</p>
                            <p class="card-text"><i class="fas fa-dollar-sign"></i> Prix: {{ ride.price }} €</p>
                            <p><i class="fas fa-calendar-alt"></i> Date: {{ ride.date|date('d/m/Y') }}</p>
                            <a href="{{ path('app_detail_ride', {'id': ride.id}) }}">
                                <button type="submit" class="btn btn-success"><i class="fas fa-check"></i> Reserver</button>
                            </a>
                            {% if app.user and app.user.id == ride.driver.id %}
                                <a href="{{ path('app_detail_ride', {'id': ride.id}) }}">
                                    <button type="submit" class="btn btn-warning"><i class="fas fa-pen"></i> Modifier</button>
                                </a>
                                <a href="{{ path('app_detail_ride', {'id': ride.id}) }}">
                                    <button type="submit" class="btn btn-danger"><i class="fas fa-trash"></i> Supprimer</button>
                                </a>
                            {% endif %}
                            
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
