{% extends 'base.html.twig' %}

{% block title %}Detail du Trajet!{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row justify-content-center">
            {% for ride in ride %}
                {% if ride.id == id %}
                    <div class="col-md-4 mt-4">
                        <div class="card card-glass-effect">
                            <div class="card-body">
                                <h5><i class="fas fa-map-marker-alt"></i> Depart: {{ ride.depart }}</h5>
                                <h5><i class="fas fa-map-marker-alt"></i> Destination: {{ ride.destination }}</h5>
                                <p><i class="fas fa-user"></i> Conducteur: {{ ride.driver.firstName }}</p>
                                <p><i class="fas fa-chair"></i> Places Dispo: {{ ride.seats }}</p>
                                <p><i class="fas fa-dollar-sign"></i> Prix: {{ ride.price }} €</p>
                                {% for rule in ride.rules %}
                                    <p><i class="fas fa-exclamation-circle"></i> Consignes: {{ rule.description }}</p>
                                {% endfor %}
                                <a href="{{ path('app_rides') }}"><button type="submit" class="btn btn-success"><i class="fas fa-check"></i> Reserver</button></a>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}
