{% extends 'base.html.twig' %}

{% block title %}Détail du Trajet!{% endblock %}

{% block body %}
    <div class="container-fluid mb-6">
        <div class="row justify-content-center">
            {% for ride in ride %}
                {% if ride.id == id %}
                    <div class="col-md-4 mt-4">
                        <div class="card card-glass-effect">
                            <div class="card-body">
                                <h5><i class="fas fa-map-marker-alt"></i> Départ: {{ ride.depart }}</h5>
                                <h5><i class="fas fa-map-marker-alt"></i> Destination: {{ ride.destination }}</h5>
                                <p><i class="fas fa-user"></i> Conducteur: {{ ride.driver.firstName }}</p>
                                <p><i class="fas fa-chair"></i> Places Dispo: {{ ride.seats }}</p>
                                <p><i class="fas fa-dollar-sign"></i> Prix: {{ ride.price }} €</p>
                                <p><i class="fas fa-calendar-alt"></i> Date: {{ ride.date|date('d/m/Y') }}</p>
                                {% for rule in ride.rules %}
                                    <p><i class="fas fa-exclamation-circle"></i> Consignes: {{ rule.description }}</p>
                                {% endfor %}
                                {% if app.user and ride.driver == app.user %}
                                    <a href="{{ path('app_edit_ride', {'id': ride.id}) }}" class="btn btn-warning"><i class="fas fa-edit"></i> Modifier</a>
                                    <a href="{{ path('app_delete_ride', {'id': ride.id}) }}" class="btn btn-danger"><i class="fas fa-trash"></i> Supprimer</a>
                                {% else %}
                                    <a href="{{ path('app_rides') }}" class="btn btn-success"><i class="fas fa-check"></i> Réserver</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}
