<nav class="navbar">
	<div class="logo">
	</div>
	<div class="links">
		<a href="{{ path('offers') }}">Trajet</a>
		{# <a href="{{ path('offersDetail') }}"></a> #}
	</div>
	<div class="profile">
		<a href="{{ path('app_login') }}">Connexion</a>
		<a href="{{ path('app_register') }}">Inscription</a>
		<a href="{{ path('app_register') }}">Profil</a>
		<a href="{{ path('app_logout') }}">Deconnexion</a>
		<a href="{{ path('Ride') }}"><button>Publier un trajet</button></a>
	</div>
</nav>
